@tailwind base;
@tailwind components;
@tailwind utilities;


html {
  height: -webkit-fill-available;
}

body {
  padding: 0;
  margin: 0;
  min-height: -webkit-fill-available;
  min-height: 100vh;
    display: flex;
    align-items: stretch;
    
    flex-direction: column;
}

@supports (-webkit-touch-callout: none) {
  body {
    /* The hack for Safari */
    min-height: -webkit-fill-available;
  }
}

.ps__thumb-y {
  background-color: white;
  border: 2px solid black;
  border-radius: 50%;
}

/* For the avatar radio buttons */
.avatar-list input[type="radio"]:checked + label {
  border: 2px solid black;
}


/* For the move choice radio buttons */
.move-choice-list input[type="radio"]:checked + label {
  border: 2px solid black;
}


.scrollbar::-webkit-scrollbar-track
{
	background-color: #F5F5F5;
}

.scrollbar::-webkit-scrollbar
{
	width: 5px;
	background-color: #F5F5F5;
}

.scrollbar::-webkit-scrollbar-thumb
{
	background-color: #0d7d9475;	
}


.dialog[open] {
  animation: appear .5s ease-out;
}

@keyframes appear {
  0% { transform: translateY(100%); }
  100% { transform: translateY(0); }
}